* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Fundo: #151819;
    --Destaque: #ED195C;
    --Corpo: #ffffff;
}

body {
    font-family: "Delius", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--Fundo);
    color: var(--Corpo);
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--Corpo);
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    color: var(--Destaque);
}

h2 {
    margin-bottom: 1rem;
}

.container-semestral {
    margin-bottom: 1.5rem;
}

.espaco {
    margin-bottom: 1rem;
}

.top {
    margin-top: 1rem;
}

button {
    background-color: var(--Fundo);
    color: var(--Corpo);
    font-size: 16px;
    border: 1.5px solid var(--Destaque);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--Destaque);
}

.check {
    background-color: var(--Fundo);
    width: 16px;
    height: 16px;
    accent-color: var(--Destaque);
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    border: 2px solid var(--Destaque);
    margin: 0;
}

.check:checked {
    background-color: var(--Destaque);
    border-color: var(--Destaque);
    transition: background-color 0.3s;
}


.caixa {
    background-color: var(--Fundo);
    color: var(--Corpo);
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--Destaque);
    border-radius: 8px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.caixa:focus {
    outline: none;
    caret-color: var(--Corpo);
}

.caixa::placeholder {
    color: #888;
    font-style: italic;
}