/* Importando a fonte */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaria: #ed195c;
  --secundaria: #fffd3c;
  --fundo: #212121;
  --fundo2: #2f2f2f;
  --cinza: #c0c0c0;
  --branco: #f9f9f9;
  --degrade: linear-gradient(to right, var(--primaria), var(--secundaria));
}

body {
  background-color: var(--fundo);
  color: var(--branco);
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--fundo);
  padding: 30px;
  border-radius: 20px;
  max-width: 800px;
  width: 100%;
  height: 100%;
}

.bottom{
  margin-bottom: 15rem;
}

h1 {
  text-align: center;
  color: var(--secundaria);
  font-size: 2.2rem;
  margin-bottom: 10px;
}

h2 {
  text-align: left;
  color: var(--secundaria);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.subtitulo {
  text-align: center;
  color: var(--cinza);
  margin-bottom: 20px;
  font-size: 0.9rem;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  background-color: var(--fundo2);
  border: none;
  color: var(--cinza);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.tab:hover {
  background-color: #333;
}

.tab.active {
  background-color: var(--primaria);
  color: var(--branco);
  font-weight: bold;
  box-shadow: 0 0 10px var(--primaria);
}

/* Conteúdo das abas */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Inputs */
input[type="number"] {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  padding: 10px;
  background-color: var(--fundo2);
  border: 1px solid #333;
  color: var(--branco);
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: var(--primaria);
}

/* Checkbox */
.check {
  background-color: var(--fundo);
  width: 16px;
  height: 16px;
  accent-color: var(--primaria);
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  border: 2px solid var(--primaria);
  margin: 0;
}

.bottom {
  margin-bottom: 10px;
  font-size: 14px;
}

.bottom label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.check:checked {
  background-color: var(--primaria);
  border-color: var(--primaria);
  transition: background-color 0.3s;
}


/* Botões */
button {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  padding: 10px;
  background-color: var(--primaria);
  color: var(--branco);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: var(--primaria);
  transform: scale(1.02);
}

/* Resultados */
.result {
  background-color: var(--fundo2);
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid var(--secundaria);
  color: var(--branco);
  text-align: center;
  font-weight: 400;
}

.limpar{
  margin-top: 20px;
}
